.highlight {
  color: "#5B6871";
  font-weight: 700;
}

.image-embed {
  margin: 20px 0;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-top: 5px;
  margin-bottom: 20px;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}